<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<%= stylesheet_link_tag 'bootstrap/css/bootstrap.min', :media => 'screen' %>
<%= stylesheet_link_tag 'bootstrap/css/bootstrap-responsive.min', :media => 'screen' %>
<%= stylesheet_link_tag 'custom', :media => 'screen' %>